# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\100 Development\010 JavaBasis\Javabasis\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
